/* global style */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

:root {
  --primaryColor: #fff;
  --secondaryColor: #1f1f1f;
}

html {
  font-size: 10px;
}

strong {
  font-weight: 500;
}

.btn {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.container {
  min-height: 100vh;
  background-color: var(--secondaryColor);
}

/* header style */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 5.6rem;
  background-color: #282828fa;
  z-index: 69;
}

.menu-btn {
  margin-right: 2.4rem;
}

.menu-btn svg {
  fill: var(--primaryColor);
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  font-size: 1.3rem;
  font-weight: 500;
}

.home-btn svg {
  fill: var(--primaryColor);
}

.search-bar {
  width: 700px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn .microphone {
  height: 2.5rem !important;
  width: 2.6rem !important;
  fill: var(--primaryColor);
  margin-left: -3rem;
}

@media only screen and (max-width: 630px) {
  .search-bar {
    width: 0;
    visibility: hidden;
  }

  .auth .btn {
    margin-right: 1.5rem;
  }
}

.search-input {
  width: 100%;
  height: 32px;
  padding: 1rem;
  margin-left: 4rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid rgb(49, 49, 49);
}

.search-btn {
  min-width: 65px;
  height: 32px;
  margin-right: 4rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid rgb(49, 49, 49);
  background-color: #393939;
}

.search-btn img {
  width: 20px;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth .btn {
  margin-right: 2.4rem;
  height: 40px;
}

@media only screen and (max-width: 630px) {
  .auth .btn,
  .menu-btn {
    margin-right: 1.5rem;
  }

  .menu-btn {
    margin: 0 1.5rem;
  }
}

.auth .profile {
  display: block;
  width: 3.2rem !important;
  height: 3.2rem !important;
  margin-right: 4rem;
}

.auth .profile img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.options-btn {
  position: relative;
}

.options-btn svg {
  fill: var(--primaryColor);
}

.options-btn span {
  display: block;
  position: absolute;
  top: 5px;
  right: -7px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  line-height: 18px;
  background-color: #c00;
}

main {
  margin: 0 2.4rem 3rem 0;
}

.content {
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
  padding: 8rem;
}

@media only screen and (max-width: 1200px) {
  .content {
    padding: 8rem 1rem 1rem 1rem;
  }
}

@media only screen and (max-width: 1020px) {
  main {
    margin: 0 2rem 3rem 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

.video-container {
  border-bottom: 1px solid rgba(156, 92, 92, 0.2);
}

.player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-info {
  padding-top: 2rem;
}

.video-title {
  font-size: 1.8em;
  font-weight: 400;
}

.video-primary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
}

.video-views-date {
  font-size: 1.4rem;
  color: #aaa;
}

@media only screen and (max-width: 630px) {
  .video-views-date {
    max-width: 100px;
    min-width: 0;
    visibility: hidden;
    white-space: nowrap;
  }
}

.video-options {
  display: flex;
}

.video-options .btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding-left: 1rem;
  margin-left: 1rem;
}

.video-options .btn img {
  width: 20px;
  height: 20px;
}

.video-options .btn span {
  color: #aaa;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 0.8rem;
}

.likes-percents {
  display: flex;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #aaa;
}

.video-options .like-btn {
  margin: 0;
}

.video-options .more-options-btn {
  padding: 0 1rem;
}

.video-options .more-options-btn img {
  align-self: flex-end;
  width: 24px;
  height: 24px;
}
